*{
    padding: 0;
    margin: 0;
}

.button {
    background-color: blueviolet;
    height: 5vh;
    width: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    border: none;
}